// ===================================================================================
// BOOTSTRAP CHANGES
// ===================================================================================

$primary: #4b0082;

$theme-color: (
  "primary": $primary,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

// ===================================================================================

select.form-control.is-valid[multiple], select.form-control.is-invalid[multiple] {
  padding-right: calc(1.5em + 0.75rem);
  background-position: right calc(1.1em + 0.1875rem) center;
}

table.table thead {
  background-color: $secondary;
  color: $white;
}

.background-logo {
  position:relative;
  z-index: 1;
}
.background-logo::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  background-image: url(./assets/bucks_logo_black_head-only.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.067;
  pointer-events: none;
  transition: opacity 0.5s;
}
.background-logo:hover::before {
  opacity: 0.04;
}

.cursor-pointer {
  cursor: pointer;
}

table.table thead tr th {
  user-select: none;
}
table.table thead tr th i.fa {
  margin-left: 5px;
}

label.form-label {
  font-weight: 500;
  margin-bottom: 0px;
}

i.fa.fa-fw {
  margin-right: 5px;
}

.tab-content {
  padding: 5px 10px 10px 10px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media print {
  .card,
  .tab-content {
    border: none !important;
  }
}

.badge-wrapper {
  opacity: 0.0001;
  pointer-events: none;
  z-index: 10;
  background-color: white;
  width: 4in;
  height: 2.3125in;
  display: inline-block;
}

.webcam-photo-area {
  height: 250px;
  width: calc(250px * 1.333);
  position: relative;

  .webcam-overlay-left, .webcam-overlay-right {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.75;
    z-index: 5;
  }
  .webcam-overlay-left {
    left: 0;
    width: calc((100% - 53.73%) / 2);
  }
  .webcam-overlay-right {
    right: 0;
    width: calc((100% - 53.73%) / 2);
  }
}

@media print {
  .badge-wrapper {
    opacity: 1;
    position: initial;
    left: 0px;
    top: 0px;
  }
}

$badgeWidth: 4in;
$badgeHeight: 2.3125in;

.badge-wrapper {

  .badge-area {
    position: relative;
    width: $badgeWidth;
    height: $badgeHeight;
    background-size: $badgeWidth $badgeHeight;
    background-repeat: no-repeat;
    background-position: center;
    text-transform: uppercase;

    &.contractor, &.Contractor {
      background-image: url(./assets/contractor-01.svg);
    }

    &.visitor, &.Visitor {
      background-image: url(./assets/visitor-01.svg);
    }

    .badge-photo-area {
      position: absolute;
      top: calc($badgeHeight * 0.325);
      left: 20px;
      bottom: 25px;
      right: calc($badgeWidth * 0.715);
      background-color: rgba(255, 255, 255, 0.85);

      .badge-photo-helper {
        display: flex;
        height: calc(100%);
        width: 100%;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-bottom-left-radius: 15px;

        img.badge-photo {
          height: 100%;
        }
      }
    }

    .badge-name {
      position: absolute;
      text-align: left;
      top: calc($badgeHeight * 0.29);
      left: calc($badgeWidth * 0.3);
      width: calc($badgeWidth * 0.64);
      font-weight: 800;
      height: 42px;
      line-height: 40px;
    }

    .badge-purpose {
      position: absolute;
      text-align: left;
      top: calc(($badgeHeight * 0.29) + 32px);
      left: calc($badgeWidth * 0.3);
      width: calc($badgeWidth * 0.64);
      font-weight: 400;
      line-height: 22px;
    }

    .badge-visiting > div {
      position: absolute;
      text-align: left;
      left: calc($badgeWidth * 0.3);
      width: calc($badgeWidth * 0.64);
      line-height: 22px;
    }

    .badge-visiting .visiting-employee {
      top: calc(($badgeHeight * 0.29) + 35px + 20px);
      font-weight: 500;
    }

    .badge-visiting .visiting-division {
      top: calc(($badgeHeight * 0.29) + 35px + 20px + 20px);
      font-weight: 400;
    }

    .badge-timestamp {
      position: absolute;
      text-align: left;
      left: calc($badgeWidth * 0.3);
      width: calc($badgeWidth * 0.64);
      top: calc($badgeHeight * 0.72);
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 3px;
    }

    .badge-validity {
      position: absolute;
      text-align: left;
      left: calc($badgeWidth * 0.3);
      width: calc($badgeWidth * 0.64);
      top: calc($badgeHeight * 0.785);
      font-size: 25px;
      font-weight: 700;
      line-height: 28px;
    }

  }
}
